/*
Author: Thiago Rezende
Author URI: http://www.thiagorezende.com.br
*/


/* --------------------------------------------------- */
/* GERAL                                               */
/* --------------------------------------------------- */

@import url("reset.css");
@import url("flexslider.css");
@import url("jquery.fancybox.css");

body { background:url(../../imagens/imagensfront/header-bg.jpg) top center no-repeat #1e6dd5; font-family: Tahoma, Arial, Helvetica, sans-serif; height:100%; width:100%;}

a {color:#0f4e8c;}
a:hover { text-decoration:none;}

.container{background:url(../../imagens/imagensfront/container-bg.jpg) bottom center no-repeat; position:relative; width:100%;}

.clear{clear:both;}

.left{ float:left !important;}

.no-margin{ margin:0 !important;}


/* --------------------------------------------------- */
/* FONTFACE                                            */
/* --------------------------------------------------- */
@font-face {
    font-family: 'FelipeRegular';
    src: url('../../fonts/felipe-webfont.eot');
    src: url('../../fonts/felipe-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/felipe-webfont.woff') format('woff'),
         url('../../fonts/felipe-webfont.ttf') format('truetype'),
         url('../../fonts/felipe-webfont.svg#FelipeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* --------------------------------------------------- */
/* HEADER                                              */
/* --------------------------------------------------- */

header{ display:block;  height:152px; margin:auto; padding:28px 0 0 0; position:relative; width:950px;}

header a.logo{background:url(../../imagens/imagensfront/logo-header.png) no-repeat; background-position:0 0; cursor:pointer; display:inline-block; float:left; font-size:1px; height:127px; margin:0 0 0 30px; overflow:hidden; text-indent:-999px; width:152px;}
header a.logo:hover{background-position:0 -127px;}

header ul{ font-family:'FelipeRegular'; font-size:24px; float:left; margin:70px 0 0; padding:0 0 0 20px;}
header ul li{ display:inline; float:left; position:relative; text-shadow:1px 1px 2px #006699;}
header ul li.fone{ padding:0 0 0 32px;}
header ul li a{ color:#fff; display:block; padding:0 20px ; text-decoration:none;}
header ul li a:hover, header ul li a.current{color:#fdbc14;}

header ul li ul{ display:none;  height:30px; margin:0; padding:12px 0 0 20px; overflow:hidden; position:absolute; width:400px;}
header ul li ul li{display:inline; float:left; width:100px; }
header ul li ul li a{ background:url(../../imagens/imagensfront/nav-li-bg.png) no-repeat; background-position:0 0; display:block; font-size:18px; padding:3px 0 2px 0; text-align:center; width:100px; }
header ul li ul li a:hover, header ul li ul li a.current { background-position:0 -30px; }



/* --------------------------------------------------- */
/* SECTION                                             */
/* --------------------------------------------------- */

section{ display:block; height:auto; margin:auto; padding:0; position:relative; width:950px;}
section.inner{ background:url(../../imagens/imagensfront/section-inner-bg.png) 0 0 no-repeat; padding:30px 0 0;}


/* --------------------------------------------------- */
/* HOME                                                */
/* --------------------------------------------------- */

.home-contents{ background:url(../../imagens/imagensfront/home-contents-bg.png) bottom left no-repeat; display:block; height:auto; margin:0 0 0 20px; width:910px; }

.home-contents .column{display:inline-block; float:left; margin:0 0 0 50px; width:380px;}
.home-contents h3{color:#0f4e8c; display:block; font-family:'FelipeRegular'; font-size:24px; line-height:28px; margin:0 0 5px; text-shadow:1px 1px 2px #003399;}
.home-contents .column p{color:#0f4e8c; font-size:14px; line-height:20px; margin:10px 0 20px;}
.home-contents .column p a{color:#0f4e8c; text-decoration:none;}
.home-contents .column p a:hover{color:#fdbc14;}
.home-contents .column .tour-virtual{ background:url(../../imagens/imagensfront/360-icon.png) 0 45px no-repeat; margin:0 0 50px; padding:45px 0 0 90px; }
.home-contents .column ul.tour{ padding:10px 0 0 0;}
.home-contents .column ul.tour li{ display:inline; float:left; font-family:'FelipeRegular'; font-size:18px; margin:0 12px 0 0;}
.home-contents .column ul.tour li a{color:#287dbd; text-decoration:none;}
.home-contents .column ul.tour li a:hover{color:#fdbc14;}
.home-contents .column .home-player{ display:block; margin:0 0 10px;}

.home-contents .box-acomodacoes{ background:url(../../imagens/imagensfront/box-acomodacoes-bg.png) 0 0 repeat-x; height:132px; margin:0 0 45px; padding:22px 0 0; position:relative;}
.home-contents .box-acomodacoes ul{ height:110px; margin:0 0 0 40px; overflow:hid-den; width:840px;}
.home-contents .box-acomodacoes ul li a{display:inline-block; float:left; margin:0 12px 0 0;}
.home-contents .box-acomodacoes ul li img{background:#fff; box-shadow:0px 0px 2px #666; padding:2px;}
.home-contents .box-acomodacoes a#prev{ background:url(../../imagens/imagensfront/box-acomodacoes-arrows.png) no-repeat; background-position:0 0; display:block; font-size:1px; height:34px; left:0; overflow:hidden; position:absolute; text-indent:-999em; top:60px; width:28px; }
.home-contents .box-acomodacoes a#prev:hover{ background-position:0 -34px;}
.home-contents .box-acomodacoes a#next{ background:url(../../imagens/imagensfront/box-acomodacoes-arrows.png) no-repeat; background-position:-28px 0; display:block; font-size:1px; height:34px; overflow:hidden; position:absolute; right:0; text-indent:-999em; top:60px; width:28px; }
.home-contents .box-acomodacoes a#next:hover{ background-position:-28px -34px;}

#form-news{margin:0 0 0 50px; padding:0 0 50px; position:relative;}
#form-news fieldset{position:relative;}
#form-news .siri{ top:10px; position:absolute; right:-30px;}
#form-news p{color:#0f4e8c; display:inline; float:left; font-size:12px; width:270px; }
#form-news input{ background:url(../../imagens/imagensfront/news-input.png) 0 0 no-repeat; color:#fff; font-size:11px; float:left; margin:0 2px 0 0; padding:10px 10px 8px; text-transform:uppercase; width:242px;}
#form-news input#enviar{ background:url(../../imagens/imagensfront/news-bot.png) no-repeat; background-position:0 0; cursor:pointer; font-size:1px; height:33px; margin:-1px 0 0 0; overflow:hidden; text-indent:-999em; width:33px; }
#form-news input#enviar:hover{ background-position:0 -33px;}

#form-news span.error{ background:url(../../imagens/imagensfront/form-error-bg.gif) 0 0 no-repeat; color:#fff; font-size:11px; height:19px; left:300px; line-height:11px; padding:8px 10px 0 20px; position:absolute; top:0; white-space:nowrap; width:auto; z-index:999;}
#form-news span.sucess{ background:url(../../imagens/imagensfront/form-sucess-bg.gif) 0 0 no-repeat; color:#fff; display:none; font-size:11px; height:19px; left:300px; line-height:11px; padding:8px 10px 0 20px; position:absolute; top:0; white-space:nowrap; width:auto; z-index:999;}

.rede{margin:0 0 0 50px; padding:0 0 50px; position:relative;}
.rede .siri{ top:10px; position:absolute; right:-30px;}
.rede h3{ background:url(../../imagens/imagensfront/icon-rede.png) 0 0 no-repeat; font-size:32px; padding:10px 0 0 75px;}
.rede ul{ padding:0 0 0 85px;}
.rede ul li{ display:inline-block; float:left;}
.rede p{ color:#0f4e8c; float:right; font-size:14px; line-height:16px; margin:-20px 255px 0 0; width:240px;}



/* --------------------------------------------------- */
/* FOOTER                                              */
/* --------------------------------------------------- */

.footer-container{ background:url(../../imagens/imagensfront/footer-bg.gif) 0 0 repeat-x; display:block; height:276px; position:relative; width:100%;}
.footer-container footer{ background:url(../../imagens/imagensfront/footer-bg.png) 0 0 no-repeat; display:block; height:264px; margin:auto; padding:12px 0 0 380px; position:relative; width:570px;}
.footer-container footer dl{color:#5a290d; display:inline-table; float:left; font-size:14px; line-height:22px; margin:0 50px 0 0; text-shadow:1px 1px 1px #fcedd3;}
.footer-container footer dl dt {font-family:'FelipeRegular'; font-size:22px; margin:0 0 10px;}
.footer-container footer dl dd {font-size:12px; line-height:20px;}
.footer-container footer dl dd a.como-chegar{ background:url(../../imagens/imagensfront/icon-como-chegar.png) 0 0 no-repeat; display:block; margin:0 0 5px; padding:0 0 2px 20px;}
.footer-container footer dl dd a{ color:#5a290d; text-decoration:none;}
.footer-container footer dl dd a:hover{ text-decoration:underline;}
.footer-container footer dl.last{ margin:0; padding:20px 0 0;}
.footer-container footer dl.last dt{ font-size:16px; line-height:18px; margin:0 0 10px;}
.footer-container footer dl.last dd{ margin:0 0 20px;}
.footer-container footer dl.last dd a.link-blog{ background:url(../../imagens/imagensfront/icon-blogger.png) 0 4px no-repeat; display:block; padding:0 0 0 40px; margin:0 0 10px; text-decoration:none;}
.footer-container footer dl.last dd a.link-blog:hover{ text-decoration:underline;}
.footer-container footer dl.last dd ul{ margin:0 0 8px; list-style:disc; list-style-position:inside;}
.footer-container footer dl.last dd ul li{ line-height:14px; margin:0 0 2px; }

.footer-container footer .nav-foot{ bottom:15px; color:#5a290d; left:10px; font-size:12px; position:absolute; text-align:center; width:100%}
.footer-container footer .nav-foot a{ color:#5a290d; text-decoration:none;}
.footer-container footer .nav-foot a:hover{ text-decoration:underline;}

.footer-container footer .social-media{}
.footer-container footer .social-media li{ display:inline; float:left;}



/* --------------------------------------------------- */
/* INNER                                              */
/* --------------------------------------------------- */

.content-inner{ background:url(../../imagens/imagensfront/content-inner-bg.png) 0 0 repeat-y; padding:10px 40px 50px; position:relative; width:870px; min-height:800px}
.content-inner .siri{ bottom:0; position:absolute; right:-110px;}

.content-inner h3 {color:#0f4e8c; display:block; font-family:'FelipeRegular'; font-size:24px; line-height:28px; margin:0 0 18px; text-shadow:1px 1px 2px #305f8d;}
.content-inner h3 span { display:block; font-size:20px;}

.content-inner p{ color:#0f4e8c; font-size:12px; line-height:16px; margin:0 0 15px; }
.content-inner ul li{color:#0f4e8c; font-size:12px; line-height:16px;}

/* POUSADA */
.content-inner .content-pousada{ background:url(../../imagens/imagensfront/pousada-bg.jpg) 0 0 no-repeat; margin:-21px 0 0 -20px; padding:25px 25px 0; position:relative; width:860px;}

.content-inner .content-pousada .box-01{ width:470px;}

.content-inner .content-pousada .box-02 img{ display:inline-block; float:left; margin:0 20px 0 0;}
.content-inner .content-pousada .box-02 h3{ padding:35px 0 0 0;}
.content-inner .content-pousada .box-02 ul{ display:inline; float:left; margin:0 30px 0 0;}

.content-inner .content-pousada .box-03 { margin:0 0 10px;}
.content-inner .content-pousada .box-03 img{ display:inline-block; float:right; margin:-32px 0 0 20px;}
.content-inner .content-pousada .box-03 h3{ margin: 0 0 12px;}

.content-inner .content-pousada .box-04 { padding:0 0 10px;}
.content-inner .content-pousada .box-04 img{ display:inline-block; float:left; margin:0 20px 0 0;}


.content-inner .content-pousada .column{display:inline; float:left; margin:0 25px 25px 0; width:270px;}
.content-inner .content-pousada .column h3{ font-size:22px;}
.content-inner .content-pousada .column .link-blog{ float:right; display:inline; margin:-5px 20px 0 10px;}
.content-inner .content-pousada .column ul{ margin:0 0 25px;}
.info p, .info ul li { font-size:11px;}

.content-inner #form-news{margin:0;}


/* ACOMODAÇÕES */

ul#acomodacoes{ margin:0 0 0 -40px; position:relative; width:950px; color:#fff;}
ul#acomodacoes li{ background:url(../../imagens/imagensfront/acomodacoes-div-bg.png) 0 25px no-repeat; display:block; margin:0 0 5px; padding:0 0 0 25px;}
ul#acomodacoes li img.thumb{ display:inline; float:left; margin: 0 15px 0 0;}
ul#acomodacoes p{ color:#fff !important; font-size:14px; margin:0 0 10px;}

ul#acomodacoes li ul.botoes{ display:inline-block; height:28px; margin:0 0 15px 180px; width:350px;}
ul#acomodacoes li ul.botoes li{ background:none; display:inline; float:left; margin:0 0 0 -10px; padding:0; }
ul#acomodacoes li ul.botoes li a{ display:block; font-size:1px; height:28px; overflow:hidden; text-indent:-999em; width:122px;}
ul#acomodacoes li ul.botoes li.mais-fotos a{ background:url(../../imagens/imagensfront/li-mais-fotos-bg.png) no-repeat; background-position:0 0;}
ul#acomodacoes li ul.botoes li.tour-360 a{ background:url(../../imagens/imagensfront/li-tour-360-bg.png) no-repeat; background-position:0 0;}
ul#acomodacoes li ul.botoes li.tarifario a{ background:url(../../imagens/imagensfront/li-tarifario.png) no-repeat; background-position:0 0;}
ul#acomodacoes li ul.botoes li.reserve a{ background:url(../../imagens/imagensfront/li-reserve-ja-bg.png) no-repeat; background-position:0 0;}
ul#acomodacoes li ul.botoes li a:hover{ background-position:0 -28px;}

ul#acomodacoes ul.details{ margin:0 0 10px; height:56px;}
ul#acomodacoes ul.details li{ color:#fff; display:inline-block; float:left; margin:0 10px 3px 0; padding:0; width:185px;}
ul#acomodacoes ul.details li.last{ float:none;}

ul#acomodacoes ul.icons{ height:52px;}
ul#acomodacoes ul.icons li{ background:none; display:inline; float:left; height:52px; margin:0 5px 0 0; padding:0; width:52px;}


/* TOOLTIP */
#tooltip {background:url(../../imagens/imagensfront/tooltip-bg.jpg) 0 0 repeat; border:solid 1px #2c1c17; color:#2c1c17; font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:11px; padding: 2px 6px; position: absolute; z-index: 3000; }
#tooltip h3, #tooltip div {font-size:11px; font-weight:normal; margin: 0;}


/* CONTATO */
.contact-inner{ padding:10px 80px 50px !important;}
.contact-inner .contact-column { background:_#f00; display:inline; float:left; margin:0 15px 0 0;}
.contact-inner .contact-column p { display:block; margin:0 0 10px; position:relative;}
.contact-inner .contact-column p input[type="text"]{ background:url(../../imagens/imagensfront/contact-input.png) 0 0 no-repeat; color:#0f4e8c; display:block; font-size:12px; padding:5px 5px 6px; width:368px;}
.contact-inner .contact-column p input[type="submit"]{ background:url(../../imagens/imagensfront/contact-enviar.png) no-repeat; background-position: 0 0; cursor:pointer; display:inline-block; float:right; font-size:1px; height:36px; margin:0 -5px 0 0; overflow:hidden; text-indent:-9999em; width:86px;}
.contact-inner .contact-column p input[type="submit"]:hover{ background-position:0 -36px;}
.contact-inner .contact-column p textarea{ background:url(../../imagens/imagensfront/contact-textarea.png) 0 0 no-repeat; color:#0f4e8c; display:block; font-family: Tahoma; height:128px; font-size:12px; padding:5px 5px 6px; width:382px;}
.contact-inner .contact-column p span{color:#0f4e8c; display:inline-block; font-size:11px;}
.contact-inner .contact-column p span.error{ background:url(../../imagens/imagensfront/form-error-bg.gif) 0 0 no-repeat; color:#fff; font-size:11px; height:19px; left:300px; line-height:11px; padding:8px 10px 0 20px; position:absolute; top:4px; white-space:nowrap; width:auto; z-index:999;}
.contact-inner span.sucess{ background:url(../../imagens/imagensfront/form-sucess-bg.gif) 0 0 no-repeat; color:#fff; display:none; font-size:11px; height:19px; line-height:11px; padding:8px 10px 0 20px; position:relative; white-space:nowrap; width:auto; z-index:999;}



/* FORM */
.content-form table{ width:100%; text-align:left}
.content-form th{ color: #0F4E8C;}
.content-form h3{ display:block; float:left; margin:0 50px 0 0; width:100%;}
.content-form form dset{ display:inline; float:left; width:420px;}
.content-form form fieldset h5{ color:#0f4e8c; display:block; font-size:15px; margin:0 0 15px;}
.content-form form fieldset h5 span{ display:block; font-size:11px;}
.content-form form fieldset p{ display:block; margin:0 0 10px; float:left; width:100%;}
.content-form form fieldset p input[type="submit"]{ background:url(../../imagens/imagensfront/contact-enviar.png) no-repeat; background-position: 0 0; cursor:pointer; display:inline-block; float:right; font-size:1px; height:36px; margin:0 5px 0 0; overflow:hidden; text-indent:-9999em; width:86px; border:none; padding:0;}
.content-form form fieldset p input[type="submit"]:hover{ background-position:0 -36px;}
.content-form form fieldset p textarea{ background:url(../../imagens/imagensfront/reservas-textarea.png) 0 0 no-repeat; color:#0f4e8c; display:block; font-family: Tahoma; height:128px; font-size:12px; padding:5px 5px 6px; width:400px;}
.content-form form fieldset p span{ color:#0f4e8c; display:block; font-size:15px; margin:0 0 15px;}
.content-form form fieldset p span.error{ background:url(../../imagens/imagensfront/form-error-bg.gif) 0 0 no-repeat; color:#fff; font-size:11px; height:19px; left:150px; line-height:11px; padding:8px 10px 0 20px; position:absolute; top:4px; white-space:nowrap; width:auto; z-index:999;}
.content-form form fieldset span.sucess{ background:url(../../imagens/imagensfront/form-sucess-bg.gif) 0 0 no-repeat; color:#fff; display:none; font-size:11px; height:19px; line-height:11px; padding:8px 10px 10px 20px; position:relative; white-space:nowrap; width:auto; z-index:999;}
.content-form form fieldset #adicionar-acomodacao{background:url(../../imagens/imagensfront/bot-adicionar.gif) no-repeat; background-position:0 0; display:block; font-size:1px; height:24px; margin:0 0 10px 172px; overflow:hidden; text-indent:-9999em; width:238px;}
.content-form form fieldset #adicionar-acomodacao:hover{ background-position:0 -34px;}


.content-form form fieldset ul{ margin:0 0 10px; width:410px;}
.content-form form fieldset ul li{ background:url(../../imagens/imagensfront/reservas-li-bg.gif) left bottom repeat-x; margin:0 0 12px;}
.content-form form fieldset ul li span{ background:#c8e3fe; display:inline-block; padding:0 5px 0 0;}
.content-form form fieldset ul li span.valor{ float:right; font-weight:bold; padding:0 0 0 5px;}

.content-form form fieldset select{ background:url(../../imagens/imagensfront/reservas-input.png) 0 0 no-repeat; border:none; color:#0f4e8c; display:block; font-size:12px; padding:4px 0 5px 5px; width:410px;}
.content-form form fieldset input[type="text"]{ background:url(../../imagens/imagensfront/reservas-input.png) 0 0 no-repeat; border:none; color:#0f4e8c; display:block; font-size:12px; padding:5px 5px 6px; width:400px;}

.content-form form fieldset p.half { display:block; float:left; margin:0 10px 10px 0;}
.content-form form fieldset p.half select{ background:url(../../imagens/imagensfront/reservas-input-half.png) 0 0 no-repeat; width:200px;}
.content-form form fieldset p.half input[type="text"]{ background:url(../../imagens/imagensfront/reservas-input-half.png) 0 0 no-repeat; width:190px;}

.content-form #botao-voltar{background:url(../../imagens/imagensfront/bot-adicionar.gif) no-repeat; background-position:0 0; display:block; font-size:1px; height:24px; margin:0 0 10px 172px; overflow:hidden; text-indent:-9999em; width:238px;}
.content-form #botao-voltar{ background-position:0 -34px;}


/* RESERVAS */
.content-reservas h3{ display:inline-block; float:left; margin:0 50px 0 0; padding:0 0 0 65px; width:150px;}
.content-reservas fieldset{ display:inline; float:left; width:420px;}
.content-reservas fieldset h5{ color:#0f4e8c; display:block; font-size:15px; margin:0 0 15px;}
.content-reservas fieldset h5 span{ display:block; font-size:11px;}
.content-reservas fieldset p{ display:block; margin:0 0 10px; position:relative;}
.content-reservas fieldset p input[type="submit"]{ background:url(../../imagens/imagensfront/contact-enviar.png) no-repeat; background-position: 0 0; cursor:pointer; display:inline-block; float:right; font-size:1px; height:36px; margin:0 5px 0 0; overflow:hidden; text-indent:-9999em; width:86px;}
.content-reservas fieldset p input[type="submit"]:hover{ background-position:0 -36px;}
.content-reservas fieldset p textarea{ background:url(../../imagens/imagensfront/reservas-textarea.png) 0 0 no-repeat; color:#0f4e8c; display:block; font-family: Tahoma; height:128px; font-size:12px; padding:5px 5px 6px; width:400px;}
.content-reservas fieldset p span.error{ background:url(../../imagens/imagensfront/form-error-bg.gif) 0 0 no-repeat; color:#fff; font-size:11px; height:19px; left:150px; line-height:11px; padding:8px 10px 0 20px; position:absolute; top:4px; white-space:nowrap; width:auto; z-index:999;}
.content-reservas fieldset span.sucess{ background:url(../../imagens/imagensfront/form-sucess-bg.gif) 0 0 no-repeat; color:#fff; display:none; font-size:11px; height:19px; line-height:11px; padding:8px 10px 10px 20px; position:relative; white-space:nowrap; width:auto; z-index:999;}
.content-reservas fieldset #adicionar-acomodacao{background:url(../../imagens/imagensfront/bot-adicionar.gif) no-repeat; background-position:0 0; display:block; font-size:1px; height:24px; margin:0 0 10px 172px; overflow:hidden; text-indent:-9999em; width:238px;}
.content-reservas fieldset #adicionar-acomodacao:hover{ background-position:0 -34px;}


.content-reservas fieldset ul{ margin:0 0 10px; width:410px;}
.content-reservas fieldset ul li{ background:url(../../imagens/imagensfront/reservas-li-bg.gif) left bottom repeat-x; margin:0 0 12px;}
.content-reservas fieldset ul li span{ background:#c8e3fe; display:inline-block; padding:0 5px 0 0;}
.content-reservas fieldset ul li span.valor{ float:right; font-weight:bold; padding:0 0 0 5px;}

.content-reservas fieldset select{ background:url(../../imagens/imagensfront/reservas-input.png) 0 0 no-repeat; border:none; color:#0f4e8c; display:block; font-size:12px; padding:4px 0 5px 5px; width:410px;}
.content-reservas fieldset input[type="text"]{ background:url(../../imagens/imagensfront/reservas-input.png) 0 0 no-repeat; border:none; color:#0f4e8c; display:block; font-size:12px; padding:5px 5px 6px; width:400px;}

.content-reservas fieldset p.half { display:inline-block; float:left; margin:0 10px 10px 0; position:relative; width:200px;}
.content-reservas fieldset p.half select{ background:url(../../imagens/imagensfront/reservas-input-half.png) 0 0 no-repeat; width:200px;}
.content-reservas fieldset p.half input[type="text"]{ background:url(../../imagens/imagensfront/reservas-input-half.png) 0 0 no-repeat; width:190px;}

.reservas-box01{ background:url(../../imagens/imagensfront/reservas-bg.jpg) 0 0 no-repeat #c8e3fe; margin:-21px 0 0 -20px; padding:25px 0 20px 30px; position:relative; width:880px;}
.reservas-box01 h3{background:url(../../imagens/imagensfront/reservas-01.png) 0 0 no-repeat;}

.reservas-box02{ margin:0 0 0 -20px; padding:25px 0 20px 30px; position:relative; width:880px;}
.reservas-box02 h3{background:url(../../imagens/imagensfront/reservas-02.png) 0 0 no-repeat;}

.reservas-box03{ background:#c8e3fe; margin:0 0 0 -20px; padding:25px 0 20px 30px; position:relative; width:880px;}
.reservas-box03 h3{background:url(../../imagens/imagensfront/reservas-03.png) 0 0 no-repeat;}

.reservas-box04{ margin:0 0 0 -20px; padding:25px 0 20px 30px; position:relative; width:880px;}
.reservas-box04 h3{background:url(../../imagens/imagensfront/reservas-04.png) 0 0 no-repeat;}
.reservas-box04 span{color:#0f4e8c; display:inline-block; font-size:11px;}

.reservas-box01{ background:url(../../imagens/imagensfront/reservas-bg.jpg) 0 0 no-repeat #c8e3fe; margin:-21px 0 0 -20px; padding:25px 0 20px 30px; position:relative; width:880px;}
.reservas-box01 h3{background:url(../../imagens/imagensfront/reservas-01.png) 0 0 no-repeat;}

.reservas-box02{ margin:0 0 0 -20px; padding:25px 0 20px 30px; position:relative; width:880px;}
.reservas-box02 h3{background:url(../../imagens/imagensfront/reservas-02.png) 0 0 no-repeat;}

.reservas-box03{ background:#c8e3fe; margin:0 0 0 -20px; padding:25px 0 20px 30px; position:relative; width:880px;}
.reservas-box03 h3{background:url(../../imagens/imagensfront/reservas-03.png) 0 0 no-repeat;}

.reservas-box04{ margin:0 0 0 -20px; padding:25px 0 20px 30px; position:relative; width:880px;}
.reservas-box04 h3{background:url(../../imagens/imagensfront/reservas-04.png) 0 0 no-repeat;}
.reservas-box04 span{color:#0f4e8c; display:inline-block; font-size:11px;}
