<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:security="http://www.springframework.org/schema/security"
		xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">
		
   <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
      <property name="persistenceUnitName" value="default"/>
   </bean>
   
	<tx:annotation-driven transaction-manager="txManager"/>
	
	<bean id="txManager" class="org.springframework.orm.jpa.JpaTransactionManager">
  		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>
	
	<!-- Datasource para spring security somente -->
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/hotel" />
		<property name="username" value="root" />
		<property name="password" value="borios" />
    </bean>
	
	<security:http pattern="/resources/**" security="none"/>
	<security:http pattern="/decorators/**" security="none"/>
	<security:http pattern="/reservas/**" security="none"/>
	<security:http pattern="/login/**" security="none"/>
	<security:http pattern="/**/foto" security="none"/>
	<security:http auto-config="true" use-expressions="true">
	    <!-- <security:form-login login-page="/login/login" default-target-url="/" authentication-success-handler-ref="borioSuccessHandler"/>  -->
	    <security:form-login login-page="/login/" default-target-url="/consultas/"/>
	    <security:access-denied-handler error-page="/login/"/>
	    <security:intercept-url pattern="/checkin/**" access="hasAnyRole('ROLE_SYSADMIN', 'ROLE_DEMO')" />
	    <security:intercept-url pattern="/categorias/**" access="hasAnyRole('ROLE_SYSADMIN', 'ROLE_DEMO')" />
	    <security:intercept-url pattern="/checkout/**" access="hasAnyRole('ROLE_SYSADMIN', 'ROLE_DEMO')" />
	    <security:intercept-url pattern="/consultas/**" access="hasAnyRole('ROLE_SYSADMIN', 'ROLE_DEMO')" />
	    <security:intercept-url pattern="/pagamentos/**" access="hasAnyRole('ROLE_SYSADMIN', 'ROLE_DEMO')" />
	    <security:intercept-url pattern="/painel/**" access="hasAnyRole('ROLE_SYSADMIN', 'ROLE_DEMO')" />
	    <security:intercept-url pattern="/politicas/**" access="hasAnyRole('ROLE_SYSADMIN', 'ROLE_DEMO')" />
	    <security:intercept-url pattern="/quartos/**" access="hasAnyRole('ROLE_SYSADMIN', 'ROLE_DEMO')" />
	    <security:intercept-url pattern="/" access="isAnonymous()" />
	</security:http>
	
	<security:authentication-manager>
	    <security:authentication-provider>
	         <security:user-service>
	            <security:user name="admin" password="borios_admin" authorities="ROLE_SYSADMIN" />
	            <security:user name="demonstracao" password="demonstracao" authorities="ROLE_DEMO" />
	        </security:user-service>
	    </security:authentication-provider>   
	    <security:authentication-provider> 
	        <security:password-encoder hash="md5" />
	        <security:jdbc-user-service data-source-ref="ds"
	            users-by-username-query="SELECT login as username, senha as password, 'true' as enable FROM usuarios WHERE login=?"
	            authorities-by-username-query="SELECT u.login as username, 
	            									  p.role as authority 
	            								FROM usuarios u
	            								  join papeis p on p.id = u.papel_id 
	            								WHERE login=?" />
	    </security:authentication-provider>
	</security:authentication-manager>
	
</beans>

