h4{
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-color: #6BC512;
  border-width: 1px;
  border-style: solid;
}

#divTeste{

font-size:1.2em; 
border:1px solid #ccc; 
padding:10px 5px;
text-align:center;
-moz-box-shadow:5px 4px 10px #ccc;
box-shadow:5px 4px 10px #ccc;
-moz-box-shadow: 5px 4px 10px #ccc;
-webkit-box-shadow: 5px 4px 10px #ccc;
-khtml-box-shadow: 5px 4px 10px #ccc;
-ms-filter:

}

#container1 {
    float:left;
    width:100%;
}
#colEntrada {
    text-align: center;
    float:left;
    width:16%;
   }
#colSuporte {
    text-align: center;
    float:left;
    width:16%;
}
#colPrioridade {
	text-align: center;
    float:left;
    width:16%;

}
#colDesenv{
	text-align: center;
    float:left;
    width:16%;

}
#colTeste {
	text-align: center;
    float:left;
    width:16%;

}

#colVersao{
	text-align: center;
    float:left;
    width:16%;
}

.painel{
	display: inline-block;
	columns: 100px 3;
    -webkit-columns : 100px 3;
}

.quarto{
	  -moz-border-radius: 15px;
	  border-radius: 15px;
	  background-color: blue;
	  margin:2px;
	  margin-left:4px;
	  margin-right:4px;
	  width: 220px;
	  height: 200px;
	  cursor: default;
	  display: inline-block;
}

.numeroQuarto{
	display: block;
	padding-top: 80px;
	color: white;
	font-size: 55px;

}

.over{
  box-shadow:5px 4px 10px #ccc;
  -moz-box-shadow:5px 4px 10px #ccc;
  -webkit-box-shadow:5px 4px 10px #ccc;
  padding: 2px;
  margin: 2px;
  cursor: pointer;
  background-color: #4683EA;
}

.divreserva{
  border-color: #3D83C0;
  border-width: 1px;
  border-style: solid;
}