h4{
  -moz-border-radius: 15px;
  border-radius: 15px;
  border-color: #6BC512;
  border-width: 1px;
  border-style: solid;
}

#divTeste{

font-size:1.2em; 
border:1px solid #ccc; 
padding:10px 5px;
text-align:center;
-moz-box-shadow:5px 4px 10px #ccc;
box-shadow:5px 4px 10px #ccc;
-moz-box-shadow: 5px 4px 10px #ccc;
-webkit-box-shadow: 5px 4px 10px #ccc;
-khtml-box-shadow: 5px 4px 10px #ccc;
-ms-filter:

}

#container1 {
    float:left;
    width:100%;
}
#colEntrada {
    text-align: center;
    float:left;
    width:16%;
   }
#colSuporte {
    text-align: center;
    float:left;
    width:16%;
}
#colPrioridade {
	text-align: center;
    float:left;
    width:16%;
	
}
#colDesenv{
	text-align: center;
    float:left;
    width:16%;
	
}
#colTeste {
	text-align: center;
    float:left;
    width:16%;
	
}

#colVersao{
	text-align: center;
    float:left;
    width:16%;
	
}

.correcao{
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: pink;
  margin:2px;
  margin-left:4px;
  margin-right:4px;
  cursor: default;
}

.melhoria{
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #85ACD1;
  margin: 2px;
  margin-left:4px;
  margin-right:4px;
  cursor: default;
}

.duvida{
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #FFED84;
  margin: 2px;
  margin-left:4px;
  margin-right:4px;
  cursor: default;
}


.over{
  border: 1px solid black;
  box-shadow:5px 4px 10px #ccc;
  -moz-box-shadow:5px 4px 10px #ccc;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}