table{
	width: 100%;	
	font-size: 14px;
}

th{
	text-align: center;
}

.nomeMes{
	border: 1px solid #ddd;
}

td{
	border: 1px solid black;
	text-align: center;
}

a{
	color: black;
}

.registroData{
  background-color: pink;
  cursor: default;
  border: 1px solid black;
}

.fimDeSemana{
  background-color: black;
  cursor: default;
  border: 1px solid white;
  color: white;
}

.destaque{
  background-color: white;
  cursor: default;
  border: 2px solid black;
  color: black;
}

.Livre{
  background-color: #008000;
  border: 1px solid black;
  cursor: default;
}

.Reservado{
  background-color: #FF0000;
  border: 1px solid black;
  cursor: default;
}

.ReservadoOutro{
  background-color: #993300;
  border: 1px solid black;
  cursor: default;
}

.Pre{
  background-color: #CA610E;
  border: 1px solid black;
  cursor: default;
}

.PreOutro{
  background-color: #FFB430;
  border: 1px solid black;
  cursor: default;
}
