table{
	width: 100%;	
	font-size: 14px;
}

th{
	text-align: center;
}

.nomeMes{
	border: 1px solid black;
}

td{
	border: 1px solid black;
	text-align: center;
}

a{
	color: black;
}

.registroData{
  background-color: pink;
  cursor: default;
  border: 1px solid black;
}

.fimDeSemana{
  background-color: black;
  cursor: default;
  border: 1px solid black;
  color: white;
}

.L{
  background-color: #008000;
  border: 1px solid black;
  cursor: default;
}

.R{
  background-color: #FF0000;
  border: 1px solid black;
  cursor: default;
}

.X{
  background-color: #993300;
  border: 1px solid black;
  cursor: default;
}

.P{
  background-color: #45818E;
  border: 1px solid black;
  cursor: default;
}
